<!DOCTYPE html>
<html>

<head>

    <title>Heartbeat Recorder</title>

    <link rel="stylesheet" href="/static/css/heartbeat.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

    <div class="container">

        <h1>
            <i class="fa-solid fa-heart-pulse"></i>
            Heartbeat Recording
        </h1>

        <p>Place microphone near chest</p>


        <div class="visual">

            <div class="pulse"></div>

        </div>


        <div class="buttons">

            <button id="startBtn">
                <i class="fa-solid fa-microphone"></i>
                Start Recording
            </button>


            <button id="stopBtn" disabled>
                <i class="fa-solid fa-stop"></i>
                Stop
            </button>


            <button id="sendBtn" disabled>
                <i class="fa-solid fa-brain"></i>
                Send To AI
            </button>

        </div>


        <div id="loader" class="loader hidden"></div>

    </div>

    <script src="/static/js/heartbeat.js"></script>

</body>

</html>